/* Add float & width constraints to each tile */
.column {
  float: left;
  width: 33.33%;
  display: flex; 
  justify-content: center;
}

/* Add table formatting to content after the row */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Add box shadow to home page tiles on hover */
.content:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}

/* Add centering & padding to body / main content of page */
#body 
{
	padding-top: 2.5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

h4, p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}

