#header {
	height: 15%;
	width: 100%;
	display: flex;
}

a:link { text-decoration: none; }

#icon {
	height: 100%;
	width: 70%;
	align-items: left;
}

#links {
	height: 100%;
	width: 30%;
	display: flex;
}

#l1 {
	text-align: right;
	width: 33%;
	font-size: 24px;
}

#l2 {
	text-align: right;
	width: 33%;
	font-size: 24px;
}

#l3 {
	text-align: right;
	width: 33%;
	font-size: 24px;
}


#body {
	padding-top: 5%;
	height: 80%;
	width: 100%;

}

#footer {
	height: 10%;
	width: 100%;
}
form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
} 